@font-face {
  font-family: "HidayatullahDemo";
  src: url("./HidayatullahDEMO.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "arial";
  src: url("./arial.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #fff7e3;
}

h1 {
  color: #743918;
  font-family: "HidayatullahDemo";
  font-size: 5vw;
}

.wrapper {
  margin-top: 15vh;
}

.Titel {
  justify-self: center;
  margin-bottom: 10vh;
}

.choice {
  background-color: #941b1e;
  border-color: transparent;
  font-size: 7vw;
  padding: 7vw 5vw;
  margin: 3vw;
  color: #fff7e3;
  font-family: "arial";
}

.choice_wrapper {
  justify-self: center;
}
